.home-section {
  width: 100%;
  overflow-x: hidden;
  margin: auto;
}

.brand-logo {
  animation: slideInLeft 0.5s ease-in;
  max-width: 90vw;
  margin-right: 1%;
}

#homeResumeBtn {
  background-color: #F6E4F6;
  margin: 20px;
  animation: fadeIn 1.5s ease-in;
}