.meeting {
  display: flex;
  justify-content: center;
  align-items: center;
}

.contact-details-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.contact-details {
  min-width: 60%;
}

@media screen and (max-width: 1000px) {
  .contact-details-container {
    flex-direction: column;
  }
}