.meeting {
  display: flex;
  justify-content: center;
  align-items: center;
}

.contact-details-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.contact-details {
  min-width: 60%;
  animation: slideInRight 0.5s ease-in;
}

.contact-section {
  width: 100%;
  height: auto;
  padding: 30px 0px;
  max-height: 90%;
  background: rgba(255, 255, 255, 0.90);
  margin: auto;
  justify-content: center;
  animation: fadeInRegular 1s ease-in;
}

@media screen and (max-width: 1000px) {
  .contact-details-container {
    flex-direction: column;
  }
}